<a href="https://colab.research.google.com/github/songjuyoung-1410/BSSM/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#모듈 추가
import random
import pandas as pd

In [ ]:
#조번호와 4개의 반 번호를 저장하는 리스트 생성
c1=[]
c2=[]
c3=[]
c4=[]

i=0
for i in range(1, 17) :
  c1.append(i)

for i in range(1, 17) :
  c2.append(i)

for i in range(1, 17) :
  c3.append(i)

for i in range(1, 17) :
  c4.append(i)

In [ ]:
#각반 번호 섞기
random.shuffle(c1)
random.shuffle(c2)
random.shuffle(c3)
random.shuffle(c4)

In [ ]:
#판다스 데이터프레임
lt=[]
lt.append(list(range(1, 17)))
lt.append(c1)
lt.append(c2)
lt.append(c3)
lt.append(c4)

df = pd.DataFrame(lt)
df

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16
1   9  15   7   4   8  13  12  10   1   3  16  11   6   5   2  14
2  15  12   3   4   6  14  10   9   8   7  11  16   5   2   1  13
3  10   8  16  12   7  15   6   5   9   1  14  13  11   3   2   4
4   5  14  15  11  12   9  16  10   2   8  13   1   3   4   7   6

In [ ]:
#행과 열을 전환
df = df.transpose()
df

     0   1   2   3   4
0    1   9  15  10   5
1    2  15  12   8  14
2    3   7   3  16  15
3    4   4   4  12  11
4    5   8   6   7  12
5    6  13  14  15   9
6    7  12  10   6  16
7    8  10   9   5  10
8    9   1   8   9   2
9   10   3   7   1   8
10  11  16  11  14  13
11  12  11  16  13   1
12  13   6   5  11   3
13  14   5   2   3   4
14  15   2   1   2   7
15  16  14  13   4   6

In [ ]:
#열인덱스 설정
df.columns=['조', '1반', '2반', '3반', '4반']
df

     조  1반  2반  3반  4반
0    1   9  15  10   5
1    2  15  12   8  14
2    3   7   3  16  15
3    4   4   4  12  11
4    5   8   6   7  12
5    6  13  14  15   9
6    7  12  10   6  16
7    8  10   9   5  10
8    9   1   8   9   2
9   10   3   7   1   8
10  11  16  11  14  13
11  12  11  16  13   1
12  13   6   5  11   3
13  14   5   2   3   4
14  15   2   1   2   7
15  16  14  13   4   6

In [ ]:
#조번호를 행인덱스로 설정
df=df.set_index('조')
df

    1반  2반  3반  4반
조
1    9  15  10   5
2   15  12   8  14
3    7   3  16  15
4    4   4  12  11
5    8   6   7  12
6   13  14  15   9
7   12  10   6  16
8   10   9   5  10
9    1   8   9   2
10   3   7   1   8
11  16  11  14  13
12  11  16  13   1
13   6   5  11   3
14   5   2   3   4
15   2   1   2   7
16  14  13   4   6

In [ ]:
#예외처리
df.loc[df[df['1반']==16].index, '1반']='없음'
df.loc[df[df['2반']==16].index, '2반']='빠질수있음'
df.loc[df[df['4반']==16].index, '4반']='없음'
df.loc[df[df['4반']==16].index, '4반']=17
df

    1반     2반  3반  4반
조
1    9     15  10   5
2   15     12   8  14
3    7      3  16  15
4    4      4  12  11
5    8      6   7  12
6   13     14  15   9
7   12     10   6  없음
8   10      9   5  10
9    1      8   9   2
10   3      7   1   8
11  없음     11  14  13
12  11  빠질수있음  13   1
13   6      5  11   3
14   5      2   3   4
15   2      1   2   7
16  14     13   4   6